name: main
on:
  pull_request:
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: JoeSainsburys/dispatch-test
          token: ${{ secrets.PAT }}
          event-type: onboarding_pr
          client-payload: '{"sourcePrNumber": "${{ github.event.number }}", "sha": "${{ github.sha }}"}, "sourceOwner": "${{ context.repo.owner }}", "sourceRepo": "${{ context.repo.repo }}"'
