name: main
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, closed]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: felixp8/dispatch-and-wait@v0.1.0
        with:
          owner: JoeSainsburys
          repo: dispatch-test
          token: ${{ secrets.PAT }}
          event_type: onboarding_pr
          client_payload: '{"sourcePrNumber": "${{ github.event.number }}", "sourceBaseRef": "${{ github.base_ref }}", "sourceHeadRef": "${{ github.head_ref }}", "sourceOwner": "${{ github.repository_owner }}", "sourceRepo": "${{ github.event.repository.name }}" }'
          wait_time: 5
          max_time: 120
