name: main
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, closed]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - run: printenv
      # TODO: maybe wait - see history
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: JoeSainsburys/dispatch-test
          token: ${{ secrets.PAT }}
          event-type: onboarding_pr
          client-payload: '{"sourcePrNumber": "${{ github.event.number }}", "sourceBaseRef": "${{ github.base_ref }}", "sourceHeadRef": "${{ github.head_ref }}", "sourceOwner": "${{ github.repository_owner }}", "sourceRepo": "${{ github.event.repository.name }}" }'
